.data{
  width: 100%;

  &__item {
    margin: 2em 0;
    padding: 0;
  }

  &__header{
    display: flex;
    justify-content:space-between;
    width: 90%;
    margin: auto;
    background: #ccc;
  }

  &__icon{
    width: 70px;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transform-origin: center;
    transition: transform .2s;

    &:after{
      content: '\25BC';
      font-size: 1.5em;
      align-self: center;
    }

    &--rotate{
      transform: rotateX(180deg);
    }
  }

  &__title{
    font-size: 1.1em;
    margin-left: 1em;
    padding: .3em;
  }
  

  &__info{
    height: 0;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    transition: all .3s;
    background: #ccc;

    &--show{
      height: 150px;
    }
  }

  &__text{
    padding: .5em 1em;
  }
}

.dataTable{
  display: none;

  @media (min-width: 1080px){
    display: block;
  }

  &__header, &__data{
    display: grid;
    grid-template-columns: 100px 300px 200px 100px 1fr;
    grid-template-rows: 20px;
    align-items: center;
    text-align: center;
  }

  &__header{
    background: $third-color;
    padding: 1em 0;
  }

  &__data:nth-child(even){
    background: lightgray;
  }
  &__data:nth-child(odd){
    background: whitesmoke;
  }

  &__text{
    color: $dark-color;
    font-weight: bold;
  }

  &__graphic{
    display: grid;

  }
}

.graphic{
  text-align: left;
}

.months{
  display: flex;
  align-items: center;
  width: 100%;
  overflow: auto;
}

.month{
  text-align: center;
  display: table;
  font-size: .7em;
}
