{
  "name": "intranet",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "dev/pug/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"public/index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "dev/js/menu.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"public/js/menu-dist.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "dev/js/project.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"public/js/project-dist.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "dev/js/tabs.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"public/js/tabs-dist.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "dev/js/planificacion.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"public/js/planificacion-dist.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "dev/scss/styles.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"public/css/styles.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "dev/js/viewport.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"public/js/viewport-dist.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "dev/pug/templates/template.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "dev/js/days.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"public/js/days-dist.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "dev/js/writeCalendar.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"public/js/writeCalendar-dist.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "dev",
      "public",
      "public/js",
      "dev/scss",
      "dev/pug/templates",
      "dev/js"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "dev/pug/index.pug",
      "imports": [
        "dev/pug/templates/template.pug",
        "dev/pug/config/config.pug",
        "dev/pug/blocks/menu.pug"
      ]
    },
    {
      "path": "dev/scss/styles.scss",
      "imports": [
        "dev/scss/_variables.scss",
        "dev/scss/_base.scss",
        "dev/scss/_mixins.scss",
        "dev/scss/_header.scss",
        "dev/scss/_menu.scss",
        "dev/scss/_tabs.scss",
        "dev/scss/_data.scss",
        "dev/scss/_main.scss",
        "dev/scss/_graphics.scss",
        "dev/scss/_footer.scss"
      ]
    },
    {
      "path": "dev/pug/blocks/menu.pug",
      "imports": [
        "dev/pug/config/config.pug"
      ]
    },
    {
      "path": "dev/pug/templates/template.pug",
      "imports": [
        "dev/pug/config/config.pug",
        "dev/pug/blocks/menu.pug"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7880,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/new",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "192.168.1.210",
      "port": 21,
      "user": "dorian",
      "password": "Mano123"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.less",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "dev/js/menu.js",
        "ctime": "2018-02-20T10:55:20.770Z",
        "mtime": "2018-02-20T10:55:20.754Z",
        "size": 189
      },
      {
        "file": "dev/js/project.js",
        "ctime": "2018-02-27T09:47:43.272Z",
        "mtime": "2018-02-27T09:47:43.256Z",
        "size": 1220
      },
      {
        "file": "dev/js/tabs.js",
        "ctime": "2018-02-26T12:02:53.320Z",
        "mtime": "2018-02-26T12:02:53.290Z",
        "size": 565
      },
      {
        "file": "public/index.html",
        "ctime": "2018-03-02T11:12:09.478Z",
        "mtime": "2018-03-02T11:12:09.478Z",
        "size": 4393
      },
      {
        "file": "public/css/normalize.css",
        "ctime": "2018-02-26T10:59:29.486Z",
        "mtime": "2018-02-26T10:43:37.675Z",
        "size": 7719
      },
      {
        "file": "public/css/styles.css",
        "ctime": "2018-03-02T11:04:57.711Z",
        "mtime": "2018-03-02T11:04:57.711Z",
        "size": 4681
      },
      {
        "file": "public/css/styles.css.map",
        "ctime": "2018-02-26T10:59:29.596Z",
        "mtime": "2018-02-26T10:43:37.717Z",
        "size": 2154
      },
      {
        "file": "public/img/logo.png",
        "ctime": "2018-02-26T10:59:29.627Z",
        "mtime": "2018-02-26T10:43:37.739Z",
        "size": 14131
      },
      {
        "file": "public/js/clean.js",
        "ctime": "2018-02-26T10:59:29.674Z",
        "mtime": "2018-02-26T10:43:37.756Z",
        "size": 414
      },
      {
        "file": "public/js/menu-dist.js",
        "ctime": "2018-02-28T09:07:21.303Z",
        "mtime": "2018-02-28T09:07:21.303Z",
        "size": 200
      },
      {
        "file": "public/js/project-dist.js",
        "ctime": "2018-02-28T09:08:02.185Z",
        "mtime": "2018-02-28T09:08:02.185Z",
        "size": 648
      },
      {
        "file": "public/js/tabs-dist.js",
        "ctime": "2018-02-28T09:08:17.128Z",
        "mtime": "2018-02-28T09:08:17.128Z",
        "size": 419
      },
      {
        "file": "public/php/db.php",
        "ctime": "2018-02-26T11:04:05.631Z",
        "mtime": "2018-02-20T10:05:58.841Z",
        "size": 610
      },
      {
        "file": "public/php/planificacion.php",
        "ctime": "2018-02-26T11:32:57.061Z",
        "mtime": "2018-02-26T11:32:57.017Z",
        "size": 1935
      },
      {
        "file": "public/js/planificacion-dist.js",
        "ctime": "2018-03-02T11:14:44.395Z",
        "mtime": "2018-03-02T11:14:44.395Z",
        "size": 6728
      },
      {
        "file": "dev/js/planificacion.js",
        "ctime": "2018-03-02T11:14:44.195Z",
        "mtime": "2018-03-02T11:14:44.179Z",
        "size": 4221
      },
      {
        "file": "dev/js/viewport.js",
        "ctime": "2018-02-27T10:35:33.352Z",
        "mtime": "2018-02-27T10:35:33.337Z",
        "size": 82
      },
      {
        "file": "public/js/viewport-dist.js",
        "ctime": "2018-02-28T09:08:30.589Z",
        "mtime": "2018-02-27T10:51:39.302Z",
        "size": 58
      },
      {
        "file": "README.md",
        "ctime": "2018-02-28T08:45:59.913Z",
        "mtime": "2018-02-28T08:45:59.913Z",
        "size": 17
      },
      {
        "file": ".git/COMMIT_EDITMSG",
        "ctime": "2018-02-28T12:51:13.732Z",
        "mtime": "2018-02-28T12:51:13.732Z",
        "size": 46
      },
      {
        "file": ".git/config",
        "ctime": "2018-02-28T09:13:22.110Z",
        "mtime": "2018-02-28T09:13:22.106Z",
        "size": 434
      },
      {
        "file": ".git/description",
        "ctime": "2018-02-28T08:44:33.874Z",
        "mtime": "2018-02-28T08:44:33.874Z",
        "size": 73
      },
      {
        "file": ".git/HEAD",
        "ctime": "2018-02-28T08:56:39.630Z",
        "mtime": "2018-02-28T08:56:39.629Z",
        "size": 25
      },
      {
        "file": ".git/index",
        "ctime": "2018-03-01T11:57:59.107Z",
        "mtime": "2018-03-01T11:57:59.104Z",
        "size": 4337
      },
      {
        "file": ".git/hooks/applypatch-msg.sample",
        "ctime": "2018-02-28T08:44:33.882Z",
        "mtime": "2018-02-28T08:44:33.882Z",
        "size": 478
      },
      {
        "file": ".git/hooks/commit-msg.sample",
        "ctime": "2018-02-28T08:44:33.889Z",
        "mtime": "2018-02-28T08:44:33.889Z",
        "size": 896
      },
      {
        "file": ".git/hooks/fsmonitor-watchman.sample",
        "ctime": "2018-02-28T08:44:33.896Z",
        "mtime": "2018-02-28T08:44:33.896Z",
        "size": 3327
      },
      {
        "file": ".git/hooks/post-update.sample",
        "ctime": "2018-02-28T08:44:33.902Z",
        "mtime": "2018-02-28T08:44:33.902Z",
        "size": 189
      },
      {
        "file": ".git/hooks/pre-applypatch.sample",
        "ctime": "2018-02-28T08:44:33.907Z",
        "mtime": "2018-02-28T08:44:33.907Z",
        "size": 424
      },
      {
        "file": ".git/hooks/pre-commit.sample",
        "ctime": "2018-02-28T08:44:33.912Z",
        "mtime": "2018-02-28T08:44:33.912Z",
        "size": 1642
      },
      {
        "file": ".git/hooks/pre-push.sample",
        "ctime": "2018-02-28T08:44:33.920Z",
        "mtime": "2018-02-28T08:44:33.920Z",
        "size": 1348
      },
      {
        "file": ".git/hooks/pre-rebase.sample",
        "ctime": "2018-02-28T08:44:33.929Z",
        "mtime": "2018-02-28T08:44:33.929Z",
        "size": 4898
      },
      {
        "file": ".git/hooks/pre-receive.sample",
        "ctime": "2018-02-28T08:44:33.936Z",
        "mtime": "2018-02-28T08:44:33.936Z",
        "size": 544
      },
      {
        "file": ".git/hooks/prepare-commit-msg.sample",
        "ctime": "2018-02-28T08:44:33.942Z",
        "mtime": "2018-02-28T08:44:33.942Z",
        "size": 1492
      },
      {
        "file": ".git/hooks/update.sample",
        "ctime": "2018-02-28T08:44:33.950Z",
        "mtime": "2018-02-28T08:44:33.950Z",
        "size": 3610
      },
      {
        "file": ".git/info/exclude",
        "ctime": "2018-02-28T08:44:33.956Z",
        "mtime": "2018-02-28T08:44:33.956Z",
        "size": 240
      },
      {
        "file": ".git/logs/HEAD",
        "ctime": "2018-02-28T12:51:13.786Z",
        "mtime": "2018-02-28T12:51:13.786Z",
        "size": 2038
      },
      {
        "file": ".git/objects/00/826c0c8bafa8df540003ace1c44e5ae553fe33",
        "ctime": "2018-02-28T09:16:14.866Z",
        "mtime": "2018-02-28T09:16:14.855Z",
        "size": 181
      },
      {
        "file": ".git/objects/03/6586ae336572296cf42f7184d4f7b1291f2855",
        "ctime": "2018-02-28T09:17:44.958Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 57
      },
      {
        "file": ".git/objects/0b/d7e36f91410f033fdb259b0264843cdcd1f915",
        "ctime": "2018-02-28T09:17:44.914Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 219
      },
      {
        "file": ".git/objects/0e/e3cd0f34001382f35e3f2f1d575877b1db0c0d",
        "ctime": "2018-02-28T09:17:44.777Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 243
      },
      {
        "file": ".git/objects/11/3f09f9b727157e1615232a0e03ec1b4e042f97",
        "ctime": "2018-02-28T09:17:44.895Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 235
      },
      {
        "file": ".git/objects/11/a0d257492911d8cb7ff3bb2ea9c29487f5bf0d",
        "ctime": "2018-02-28T09:16:14.847Z",
        "mtime": "2018-02-28T09:16:14.000Z",
        "size": 85
      },
      {
        "file": ".git/objects/12/8113939e500ad60525180286950763a3d7e20d",
        "ctime": "2018-02-28T09:17:44.952Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 81
      },
      {
        "file": ".git/objects/16/f5ffe376a155aa85f2252f4e3cbbdf7d9d68f8",
        "ctime": "2018-02-28T09:17:44.880Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 1167
      },
      {
        "file": ".git/objects/1a/5d6ae70c2e00cb25805992982d57188dcaa1cb",
        "ctime": "2018-02-28T09:17:44.909Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 296
      },
      {
        "file": ".git/objects/21/d65279564d5b05b69b1d19ef5bf8e3d88035c9",
        "ctime": "2018-02-28T09:17:44.926Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 714
      },
      {
        "file": ".git/objects/22/57054809c9eb5947f4fafba65e8fc65406be8a",
        "ctime": "2018-02-28T08:47:39.405Z",
        "mtime": "2018-02-28T08:47:39.401Z",
        "size": 126
      },
      {
        "file": ".git/objects/24/643cc37449b4bde54411a80b8ed61258225e34",
        "ctime": "2018-02-28T09:17:44.740Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 245
      },
      {
        "file": ".git/objects/25/d56a1da8e9863edc60505074c2d611ec8f595f",
        "ctime": "2018-02-28T09:17:44.855Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 308
      },
      {
        "file": ".git/objects/27/56a4e4c0fe225435bbcf65465060365a2096fa",
        "ctime": "2018-02-28T09:17:44.805Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 406
      },
      {
        "file": ".git/objects/27/c828b47fb924997873422ec055456b05560690",
        "ctime": "2018-02-28T08:58:32.405Z",
        "mtime": "2018-02-28T08:58:32.402Z",
        "size": 179
      },
      {
        "file": ".git/objects/28/a804d8932aba40f168fd757a74cb718a955a1a",
        "ctime": "2018-02-28T09:17:44.745Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 145
      },
      {
        "file": ".git/objects/2a/2de6e3ebba0cbc30319c59f2aaf2bdc888c48c",
        "ctime": "2018-02-28T09:17:44.887Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 13976
      },
      {
        "file": ".git/objects/2b/75ca1a653d2f3658dac4fd924bdc69d3a34cb5",
        "ctime": "2018-02-28T09:17:44.944Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 218
      },
      {
        "file": ".git/objects/2e/397e1f84d167ae2f2b9959a81baafa9219f913",
        "ctime": "2018-02-28T08:46:16.931Z",
        "mtime": "2018-02-28T08:46:16.929Z",
        "size": 33
      },
      {
        "file": ".git/objects/31/9043ddee7baa8e8db1bf74a21460106efdb308",
        "ctime": "2018-02-28T09:17:44.869Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 3195
      },
      {
        "file": ".git/objects/32/1cda67e183fe066dc1021ffa4797595af9c7fb",
        "ctime": "2018-02-28T09:17:44.795Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 89
      },
      {
        "file": ".git/objects/36/b9dbd1846a9d71d15892a3f90f8faa4a2f6edf",
        "ctime": "2018-02-28T08:58:32.364Z",
        "mtime": "2018-02-28T08:58:32.361Z",
        "size": 125
      },
      {
        "file": ".git/objects/38/e0f9aa214929f48af83d866d01479f0d3d7a5b",
        "ctime": "2018-02-28T09:17:44.898Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 151
      },
      {
        "file": ".git/objects/3b/4b064b47215a0d0fc499389e9b67815462c0aa",
        "ctime": "2018-02-28T09:17:44.981Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 53
      },
      {
        "file": ".git/objects/3c/4e17998d0cf1460a7f06613cad488e2158b788",
        "ctime": "2018-02-28T09:17:44.800Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 665
      },
      {
        "file": ".git/objects/43/6f7f6a82a6979d171bd075b4ceef8a4569cc68",
        "ctime": "2018-02-28T09:17:44.890Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 1188
      },
      {
        "file": ".git/objects/4e/1fc4dd87b72723c63de5fd83f55c4528e4cfeb",
        "ctime": "2018-02-28T08:58:32.383Z",
        "mtime": "2018-02-28T08:58:32.380Z",
        "size": 166
      },
      {
        "file": ".git/objects/50/d587519e2bf9c442ae3f394857bc2fe094f7c8",
        "ctime": "2018-02-28T09:17:44.884Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 895
      },
      {
        "file": ".git/objects/54/20d8f61a2bec095734578fdfce970bdf9c2bc3",
        "ctime": "2018-02-28T09:17:44.922Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 339
      },
      {
        "file": ".git/objects/55/3fc58ce5dc10d00798152ba5804eb571b7d2cc",
        "ctime": "2018-02-28T09:17:12.189Z",
        "mtime": "2018-02-28T09:17:12.183Z",
        "size": 5587
      },
      {
        "file": ".git/objects/58/2013069d105641a1b4420a358c0fb5a26f5f8d",
        "ctime": "2018-02-28T09:16:14.839Z",
        "mtime": "2018-02-28T09:16:14.000Z",
        "size": 52
      },
      {
        "file": ".git/objects/5d/8c2afe6fa99cb62c1c4abfd3748eb1fa3b3368",
        "ctime": "2018-02-28T08:58:32.337Z",
        "mtime": "2018-02-28T08:58:32.335Z",
        "size": 58
      },
      {
        "file": ".git/objects/61/7478b3a6a227a5a085b16b9d1da70f44980738",
        "ctime": "2018-02-28T09:17:44.993Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 166
      },
      {
        "file": ".git/objects/69/2aaf6bdbad5d6779a8574b5b4de5a9c5884e3a",
        "ctime": "2018-02-28T09:17:44.971Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 99
      },
      {
        "file": ".git/objects/69/b772db884bf65a75b42577efd989dab5a3a275",
        "ctime": "2018-02-28T09:17:44.763Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 5758
      },
      {
        "file": ".git/objects/6d/ace481755755fee26fa7ba45164cca17c4d688",
        "ctime": "2018-02-28T08:58:32.334Z",
        "mtime": "2018-02-28T08:58:32.331Z",
        "size": 191
      },
      {
        "file": ".git/objects/6e/963b7ec6f36dd47f3e72816b727d02fa1c6a21",
        "ctime": "2018-02-28T09:17:44.900Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 962
      },
      {
        "file": ".git/objects/78/e7d15d07053155a02135d9ad4a233beeb8545b",
        "ctime": "2018-02-28T09:17:44.979Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 119
      },
      {
        "file": ".git/objects/78/fee612e061c5a68c46599d0aec261c37832b49",
        "ctime": "2018-02-28T09:17:44.904Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 887
      },
      {
        "file": ".git/objects/7b/8e3eb45180737bb642c7a1da8c667e826c4c71",
        "ctime": "2018-02-28T09:17:44.785Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 26
      },
      {
        "file": ".git/objects/7c/41e2b25181ecddf4ad9e773556f95b93d5a437",
        "ctime": "2018-02-28T08:58:32.387Z",
        "mtime": "2018-02-28T08:58:32.383Z",
        "size": 151
      },
      {
        "file": ".git/objects/7d/1740aaaeeba0e42e40eb2ba0506ffebff96325",
        "ctime": "2018-02-28T09:17:44.767Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 140
      },
      {
        "file": ".git/objects/7d/606ff9e2aff7df19efd9a3d1ec8adbd5f340d0",
        "ctime": "2018-02-28T08:58:32.390Z",
        "mtime": "2018-02-28T08:58:32.387Z",
        "size": 89
      },
      {
        "file": ".git/objects/82/1a9778b1d9944c767a86b93f7fb060d59385f4",
        "ctime": "2018-02-28T09:17:44.916Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 74
      },
      {
        "file": ".git/objects/85/5a2422d44b2b11e80fd569716411871a986550",
        "ctime": "2018-02-28T09:17:44.754Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 144
      },
      {
        "file": ".git/objects/88/485e97cb8e2592f234a9ddcd0239727174629e",
        "ctime": "2018-02-28T08:56:51.843Z",
        "mtime": "2018-02-28T08:56:51.840Z",
        "size": 3172
      },
      {
        "file": ".git/objects/8e/dab3ae950557b175e2efa1c4453141905ef54d",
        "ctime": "2018-02-28T09:17:44.983Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 242
      },
      {
        "file": ".git/objects/92/2cf28a8236aecb5d52ecdd3ea66c4b60480c8d",
        "ctime": "2018-02-28T09:17:44.961Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 150
      },
      {
        "file": ".git/objects/94/a25f7f4cb416c083d265558da75d457237d671",
        "ctime": "2018-02-28T09:16:14.806Z",
        "mtime": "2018-02-28T09:16:14.000Z",
        "size": 155
      },
      {
        "file": ".git/objects/95/d332f9b7e4e446ca332f15127ff3b3e98f883d",
        "ctime": "2018-02-28T09:47:08.644Z",
        "mtime": "2018-02-28T09:47:08.000Z",
        "size": 118
      },
      {
        "file": ".git/objects/9b/1b7ad603faa6c74893d146bdd7e7df43b312f7",
        "ctime": "2018-02-28T09:17:44.791Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 182
      },
      {
        "file": ".git/objects/a5/3a7e72c96a92297a2aed41a0b669f5625a46cc",
        "ctime": "2018-02-28T09:17:44.750Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 187
      },
      {
        "file": ".git/objects/a6/ed8d9b6fc536db025775aadeff637197a6017c",
        "ctime": "2018-02-28T09:17:44.844Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 473
      },
      {
        "file": ".git/objects/a7/85927fdf813da09c2323fe5a7b070646389c9e",
        "ctime": "2018-02-28T09:17:45.003Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 184
      },
      {
        "file": ".git/objects/ab/fb609b52fa6f065c7d9ce16e6e715e8e9b45c8",
        "ctime": "2018-02-28T09:17:44.816Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 602
      },
      {
        "file": ".git/objects/ac/039fde3d6181eaffa9c90a6fc0e52abe69f2f1",
        "ctime": "2018-02-28T09:17:44.811Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 144
      },
      {
        "file": ".git/objects/ad/f518d1f8b762a7dd8d69da8df6eaff1ff20866",
        "ctime": "2018-02-28T09:17:44.948Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 183
      },
      {
        "file": ".git/objects/b5/f5356de900c370c540c132ea04c980ec3179a1",
        "ctime": "2018-02-28T09:17:44.774Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 509
      },
      {
        "file": ".git/objects/b8/11d9c5c1d40b82356e0cc3a79501449d7c6781",
        "ctime": "2018-02-28T09:17:44.964Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 297
      },
      {
        "file": ".git/objects/bf/e2fca895edc1db0f82f9ff741159035ba5c2fa",
        "ctime": "2018-02-28T08:56:51.666Z",
        "mtime": "2018-02-28T08:56:51.661Z",
        "size": 48
      },
      {
        "file": ".git/objects/c3/79cda6ae85ff155bc7b9e716fd0b81392a8ed2",
        "ctime": "2018-02-28T09:17:44.829Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 236
      },
      {
        "file": ".git/objects/cc/fa15b4797665ae4b7203ecd27a89818e11c804",
        "ctime": "2018-02-28T08:46:35.158Z",
        "mtime": "2018-02-28T08:46:35.154Z",
        "size": 54
      },
      {
        "file": ".git/objects/d1/0465ae4dcc03f1a89f701b58749ac5230cb6ef",
        "ctime": "2018-02-28T09:17:44.954Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 55
      },
      {
        "file": ".git/objects/d2/8cac5d8a35a5cf83c9a471a6c4701290c0f0f1",
        "ctime": "2018-02-28T09:17:44.986Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 89
      },
      {
        "file": ".git/objects/d5/8a4d60400b3150fe6b2a58209c68ffa52f9285",
        "ctime": "2018-02-28T09:47:08.607Z",
        "mtime": "2018-02-28T09:47:08.000Z",
        "size": 1467
      },
      {
        "file": ".git/objects/e6/9de29bb2d1d6434b8b29ae775ad8c2e48c5391",
        "ctime": "2018-02-28T12:14:18.687Z",
        "mtime": "2018-02-28T12:14:18.000Z",
        "size": 15
      },
      {
        "file": ".git/objects/f3/550e67d8e4dc854d6d39e7ae6c7d0e3e031aa9",
        "ctime": "2018-02-28T08:56:51.657Z",
        "mtime": "2018-02-28T08:56:51.653Z",
        "size": 5615
      },
      {
        "file": ".git/objects/f5/31e297094150a86c494342421a41cc42a5ed8c",
        "ctime": "2018-02-28T09:17:44.852Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 169
      },
      {
        "file": ".git/objects/f5/77c78bcbb1a241cc99fc81768f0e2db47c417e",
        "ctime": "2018-02-28T09:17:44.859Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 97
      },
      {
        "file": ".git/objects/f6/315e40f229faab42fcdab9103398600c9350ff",
        "ctime": "2018-02-28T09:17:45.018Z",
        "mtime": "2018-02-28T09:17:45.007Z",
        "size": 175
      },
      {
        "file": ".git/objects/fa/4e73dd418b8a9dce03a9c6edcd1dc81db43c81",
        "ctime": "2018-02-28T09:17:44.873Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 2436
      },
      {
        "file": ".git/objects/ff/06e59daa7a111f8a3315d6e7b7fab28271f938",
        "ctime": "2018-02-28T09:17:44.781Z",
        "mtime": "2018-02-28T09:17:44.000Z",
        "size": 77
      },
      {
        "file": ".git/refs/heads/master",
        "ctime": "2018-02-28T08:47:39.425Z",
        "mtime": "2018-02-28T08:47:39.419Z",
        "size": 41
      },
      {
        "file": ".git/refs/heads/version1",
        "ctime": "2018-02-28T12:51:13.791Z",
        "mtime": "2018-02-28T12:51:13.786Z",
        "size": 41
      },
      {
        "file": ".git/logs/refs/heads/master",
        "ctime": "2018-02-28T08:47:39.424Z",
        "mtime": "2018-02-28T08:47:39.424Z",
        "size": 172
      },
      {
        "file": ".git/logs/refs/heads/version1",
        "ctime": "2018-02-28T12:51:13.788Z",
        "mtime": "2018-02-28T12:51:13.788Z",
        "size": 1851
      },
      {
        "file": ".git/refs/remotes/origin/master",
        "ctime": "2018-02-28T08:55:11.901Z",
        "mtime": "2018-02-28T08:55:11.896Z",
        "size": 41
      },
      {
        "file": ".git/refs/remotes/origin/version1",
        "ctime": "2018-02-28T12:15:32.873Z",
        "mtime": "2018-02-28T12:15:32.859Z",
        "size": 41
      },
      {
        "file": ".git/logs/refs/remotes/origin/master",
        "ctime": "2018-02-28T08:55:11.900Z",
        "mtime": "2018-02-28T08:55:11.900Z",
        "size": 156
      },
      {
        "file": ".git/logs/refs/remotes/origin/version1",
        "ctime": "2018-02-28T12:15:32.864Z",
        "mtime": "2018-02-28T12:15:32.864Z",
        "size": 936
      },
      {
        "file": "dev/scss/styles.scss",
        "ctime": "2018-02-28T09:54:14.278Z",
        "mtime": "2018-02-28T09:54:14.259Z",
        "size": 183
      },
      {
        "file": "dev/scss/_base.scss",
        "ctime": "2018-03-01T11:46:41.594Z",
        "mtime": "2018-03-01T11:46:41.571Z",
        "size": 229
      },
      {
        "file": "dev/scss/_data.scss",
        "ctime": "2018-03-01T11:54:43.762Z",
        "mtime": "2018-03-01T11:54:43.742Z",
        "size": 1507
      },
      {
        "file": "dev/scss/_footer.scss",
        "ctime": "2018-02-20T08:47:14.561Z",
        "mtime": "2018-02-20T08:47:14.551Z",
        "size": 0
      },
      {
        "file": "dev/scss/_graphics.scss",
        "ctime": "2018-03-02T11:04:57.533Z",
        "mtime": "2018-03-02T11:04:57.518Z",
        "size": 353
      },
      {
        "file": "dev/scss/_header.scss",
        "ctime": "2018-02-20T08:47:14.594Z",
        "mtime": "2018-02-20T08:47:14.582Z",
        "size": 0
      },
      {
        "file": "dev/scss/_index.scss",
        "ctime": "2018-02-07T16:59:01.171Z",
        "mtime": "2018-01-08T17:45:20.000Z",
        "size": 0
      },
      {
        "file": "dev/scss/_main.scss",
        "ctime": "2018-02-20T08:47:14.649Z",
        "mtime": "2018-02-20T08:47:14.639Z",
        "size": 0
      },
      {
        "file": "dev/scss/_menu.scss",
        "ctime": "2018-03-01T11:47:24.110Z",
        "mtime": "2018-03-01T11:47:24.084Z",
        "size": 1219
      },
      {
        "file": "dev/scss/_mixins.scss",
        "ctime": "2018-02-07T16:59:01.177Z",
        "mtime": "2018-01-08T12:24:06.000Z",
        "size": 0
      },
      {
        "file": "dev/scss/_tabs.scss",
        "ctime": "2018-02-27T10:47:12.321Z",
        "mtime": "2018-02-27T10:47:12.305Z",
        "size": 222
      },
      {
        "file": "dev/scss/_variables.scss",
        "ctime": "2018-03-01T11:43:31.858Z",
        "mtime": "2018-03-01T11:43:31.828Z",
        "size": 570
      },
      {
        "file": "dev/pug/index.pug",
        "ctime": "2018-03-01T12:06:55.807Z",
        "mtime": "2018-03-01T12:06:55.791Z",
        "size": 2495
      },
      {
        "file": "dev/pug/blocks/main.pug",
        "ctime": "2018-02-07T16:59:01.111Z",
        "mtime": "2018-01-08T15:51:24.000Z",
        "size": 10
      },
      {
        "file": "dev/pug/blocks/menu.pug",
        "ctime": "2018-02-28T11:54:38.110Z",
        "mtime": "2018-02-28T11:54:38.102Z",
        "size": 613
      },
      {
        "file": "dev/pug/config/config.pug",
        "ctime": "2018-03-01T08:23:49.068Z",
        "mtime": "2018-03-01T08:23:49.034Z",
        "size": 144
      },
      {
        "file": "dev/pug/templates/template.pug",
        "ctime": "2018-03-02T11:12:09.137Z",
        "mtime": "2018-03-02T11:12:09.122Z",
        "size": 1056
      },
      {
        "file": "dev/js/days.js",
        "ctime": "2018-03-02T08:52:41.456Z",
        "mtime": "2018-03-01T12:03:08.718Z",
        "size": 0
      },
      {
        "file": "public/js/days-dist.js",
        "ctime": "2018-03-01T12:03:08.855Z",
        "mtime": "2018-03-01T12:03:08.855Z",
        "size": 13
      },
      {
        "file": ".git/objects/03/8e3f51f9690fe6e2ce781d39ee74f240e5fa21",
        "ctime": "2018-02-28T11:21:27.608Z",
        "mtime": "2018-02-28T11:21:27.000Z",
        "size": 119
      },
      {
        "file": ".git/objects/05/1616ced921cc05abd3712abf29d683d8796704",
        "ctime": "2018-02-28T09:47:08.618Z",
        "mtime": "2018-02-28T09:47:08.000Z",
        "size": 912
      },
      {
        "file": ".git/objects/05/3ec565208cec22623c404623b5920fd4d30d8b",
        "ctime": "2018-02-28T12:50:58.247Z",
        "mtime": "2018-02-28T12:50:58.000Z",
        "size": 6525
      },
      {
        "file": ".git/objects/0f/15838ad50f3a3033b57e001398fe43228c4e95",
        "ctime": "2018-02-28T09:47:08.660Z",
        "mtime": "2018-02-28T09:47:08.000Z",
        "size": 166
      },
      {
        "file": ".git/objects/13/79a33cadc6f0ad98ab5e35cca7a1418cbc22a6",
        "ctime": "2018-02-28T11:21:27.594Z",
        "mtime": "2018-02-28T11:21:27.000Z",
        "size": 297
      },
      {
        "file": ".git/objects/1c/cacb4aea1cd1f6417d34f3eb7d363ecb60fe7d",
        "ctime": "2018-02-28T09:47:08.668Z",
        "mtime": "2018-02-28T09:47:08.000Z",
        "size": 183
      },
      {
        "file": ".git/objects/1e/0343d35338b6d3b584d891f218ca179c8a1af5",
        "ctime": "2018-02-28T12:50:58.342Z",
        "mtime": "2018-02-28T12:50:58.000Z",
        "size": 81
      },
      {
        "file": ".git/objects/28/ab25fffe43f5977eda6420205a509b8f5477dc",
        "ctime": "2018-02-28T12:50:58.291Z",
        "mtime": "2018-02-28T12:50:58.000Z",
        "size": 7843
      },
      {
        "file": ".git/objects/29/c7cc47505fc4fd08402bca3f5dedcc8e941551",
        "ctime": "2018-02-28T11:51:19.449Z",
        "mtime": "2018-02-28T11:51:19.445Z",
        "size": 188
      },
      {
        "file": ".git/objects/2a/3f8f57231e58775c3f7cc0560565c476a44138",
        "ctime": "2018-02-28T12:15:24.335Z",
        "mtime": "2018-02-28T12:15:24.330Z",
        "size": 186
      },
      {
        "file": ".git/objects/2a/9ece04fca12ce4fa27843ce5fdae4517b85e82",
        "ctime": "2018-02-28T11:51:19.376Z",
        "mtime": "2018-02-28T11:51:19.000Z",
        "size": 7816
      },
      {
        "file": ".git/objects/2d/b184f91b266022433480cd9d7bab2b8c39af16",
        "ctime": "2018-02-28T11:21:27.539Z",
        "mtime": "2018-02-28T11:21:27.000Z",
        "size": 152
      },
      {
        "file": ".git/objects/36/c84f0ac39b314e84b6c965d0145fc5ff4c047a",
        "ctime": "2018-02-28T09:47:08.602Z",
        "mtime": "2018-02-28T09:47:08.000Z",
        "size": 7756
      },
      {
        "file": ".git/objects/3c/1a323c9ebd23d49b4784d504a7b21237542bce",
        "ctime": "2018-02-28T12:50:58.381Z",
        "mtime": "2018-02-28T12:50:58.000Z",
        "size": 166
      },
      {
        "file": ".git/objects/3d/2bb9e93c5d3d3d7bbd4458921e873591165888",
        "ctime": "2018-02-28T11:51:19.384Z",
        "mtime": "2018-02-28T11:51:19.000Z",
        "size": 1166
      },
      {
        "file": ".git/objects/45/6397e6236b7b568ec40d41d6917e1b1023b664",
        "ctime": "2018-02-28T11:21:27.629Z",
        "mtime": "2018-02-28T11:21:27.000Z",
        "size": 184
      },
      {
        "file": ".git/objects/4d/12d6297cb45706ff9375c93eadd92d2246ab57",
        "ctime": "2018-02-28T11:21:27.615Z",
        "mtime": "2018-02-28T11:21:27.000Z",
        "size": 218
      },
      {
        "file": ".git/objects/4e/2f8929694e5568152d1665db4609eaa54c5d7c",
        "ctime": "2018-02-28T12:50:58.264Z",
        "mtime": "2018-02-28T12:50:58.000Z",
        "size": 1431
      },
      {
        "file": ".git/objects/51/a03060e4b0b8096d043683b5ae5f572ad98a5f",
        "ctime": "2018-02-28T12:51:13.762Z",
        "mtime": "2018-02-28T12:51:13.000Z",
        "size": 184
      },
      {
        "file": ".git/objects/55/c6561ac9302abf210d33bd52f03c461f0559cb",
        "ctime": "2018-02-28T12:50:58.307Z",
        "mtime": "2018-02-28T12:50:58.000Z",
        "size": 1163
      },
      {
        "file": ".git/objects/56/9de1346144ea5ab6e9b02158b65fd67602d93e",
        "ctime": "2018-02-28T11:51:19.398Z",
        "mtime": "2018-02-28T11:51:19.000Z",
        "size": 218
      },
      {
        "file": ".git/objects/65/4075b74560d682a482d5b3dac1eca49cc76afc",
        "ctime": "2018-02-28T12:15:24.248Z",
        "mtime": "2018-02-28T12:15:24.000Z",
        "size": 6426
      },
      {
        "file": ".git/objects/6b/e5adedf5d595b26413339a76a5c442393f5e48",
        "ctime": "2018-02-28T12:50:58.336Z",
        "mtime": "2018-02-28T12:50:58.000Z",
        "size": 211
      },
      {
        "file": ".git/objects/70/f6437fca733c97c90a3c218ae9db16b9296e20",
        "ctime": "2018-02-28T11:21:27.532Z",
        "mtime": "2018-02-28T11:21:27.000Z",
        "size": 1254
      },
      {
        "file": ".git/objects/76/6135fd3b1dedb2f64cc4493ad31aa4924ac746",
        "ctime": "2018-02-28T11:51:19.360Z",
        "mtime": "2018-02-28T11:51:19.000Z",
        "size": 6131
      },
      {
        "file": ".git/objects/76/64d1546f673c663b19792f4ed7e5cb3a729755",
        "ctime": "2018-02-28T09:47:08.641Z",
        "mtime": "2018-02-28T09:47:08.000Z",
        "size": 218
      },
      {
        "file": ".git/objects/77/04dc17c661509226dfe2af279289c0216be1e4",
        "ctime": "2018-02-28T12:50:58.401Z",
        "mtime": "2018-02-28T12:50:58.393Z",
        "size": 186
      },
      {
        "file": ".git/objects/7d/512bb0edd0cfebbd33319c9e9f9d8f2f3879ce",
        "ctime": "2018-02-28T12:15:24.274Z",
        "mtime": "2018-02-28T12:15:24.268Z",
        "size": 185
      },
      {
        "file": ".git/objects/7e/af9f7f9f69f18ff9760d96b1ba985dff9047d9",
        "ctime": "2018-02-28T11:51:19.428Z",
        "mtime": "2018-02-28T11:51:19.000Z",
        "size": 166
      },
      {
        "file": ".git/objects/81/b183933872e4ed70d034fb9a4858975010cca0",
        "ctime": "2018-02-28T12:15:24.226Z",
        "mtime": "2018-02-28T12:15:24.220Z",
        "size": 100
      },
      {
        "file": ".git/objects/85/df85fb326b5700fee0374a9bc4e39517f48703",
        "ctime": "2018-02-28T09:47:08.595Z",
        "mtime": "2018-02-28T09:47:08.000Z",
        "size": 6020
      },
      {
        "file": ".git/objects/8d/24948a65642fdecee5fc49b963d80931921818",
        "ctime": "2018-02-28T11:51:19.406Z",
        "mtime": "2018-02-28T11:51:19.000Z",
        "size": 183
      },
      {
        "file": ".git/objects/92/f99625ba2c40c0f540e2db0bc9445ecbc850df",
        "ctime": "2018-02-28T11:21:27.566Z",
        "mtime": "2018-02-28T11:21:27.000Z",
        "size": 1164
      },
      {
        "file": ".git/objects/93/c50b496e849bd08a3a54cf64e30b8034f9b3a2",
        "ctime": "2018-02-28T11:21:27.622Z",
        "mtime": "2018-02-28T11:21:27.000Z",
        "size": 165
      },
      {
        "file": ".git/objects/94/1fec231cba3b9cf4c921ad95c0139e48d48a69",
        "ctime": "2018-02-28T12:51:13.742Z",
        "mtime": "2018-02-28T12:51:13.000Z",
        "size": 244
      },
      {
        "file": ".git/objects/96/e04836b0b63c8df1ba41e535553a1e0416b95d",
        "ctime": "2018-02-28T11:51:19.369Z",
        "mtime": "2018-02-28T11:51:19.000Z",
        "size": 1220
      },
      {
        "file": ".git/objects/99/e7d3a9acaf1d74730872819a5d248227092b1d",
        "ctime": "2018-02-28T11:21:27.579Z",
        "mtime": "2018-02-28T11:21:27.000Z",
        "size": 219
      },
      {
        "file": ".git/objects/9a/b4c654f1a253b52f1e43e55ebca630a187a3c5",
        "ctime": "2018-02-28T12:50:58.349Z",
        "mtime": "2018-02-28T12:50:58.000Z",
        "size": 56
      },
      {
        "file": ".git/objects/9b/72445d92ba71ace78170292d8d50bf436ca89a",
        "ctime": "2018-02-28T12:50:58.299Z",
        "mtime": "2018-02-28T12:50:58.000Z",
        "size": 1196
      },
      {
        "file": ".git/objects/a5/43787e91b83d204ad68b6ccfc6273c4712404a",
        "ctime": "2018-02-28T11:21:27.586Z",
        "mtime": "2018-02-28T11:21:27.000Z",
        "size": 183
      },
      {
        "file": ".git/objects/a7/4c481bab07e0869ab3230c6c02ed3b041dee60",
        "ctime": "2018-02-28T12:50:58.254Z",
        "mtime": "2018-02-28T12:50:58.000Z",
        "size": 102
      },
      {
        "file": ".git/objects/a8/cffe7af048e894aafbef7454039ec91e7a39e9",
        "ctime": "2018-02-28T12:50:58.373Z",
        "mtime": "2018-02-28T12:50:58.000Z",
        "size": 216
      },
      {
        "file": ".git/objects/a9/332e3e00a87b07f1907c3fbbd578e397e1c838",
        "ctime": "2018-02-28T12:51:13.750Z",
        "mtime": "2018-02-28T12:51:13.000Z",
        "size": 166
      },
      {
        "file": ".git/objects/aa/6bf03dfdf997a482b6393fe0fa48f2e3dd811d",
        "ctime": "2018-02-28T12:50:58.271Z",
        "mtime": "2018-02-28T12:50:58.000Z",
        "size": 203
      },
      {
        "file": ".git/objects/ab/a84b9cd92d883768450d6a6b99015279fb8188",
        "ctime": "2018-02-28T12:50:58.278Z",
        "mtime": "2018-02-28T12:50:58.000Z",
        "size": 411
      },
      {
        "file": ".git/objects/ab/af96c5587ca5f49d30bfb8840d750ee63021bb",
        "ctime": "2018-02-28T11:21:27.601Z",
        "mtime": "2018-02-28T11:21:27.000Z",
        "size": 99
      },
      {
        "file": ".git/objects/ac/9cdd7900ab2a52392cf5697d625e43cd70811c",
        "ctime": "2018-02-28T12:50:58.366Z",
        "mtime": "2018-02-28T12:50:58.000Z",
        "size": 99
      },
      {
        "file": ".git/objects/ad/c921dc00c6c28914ede14efb18aa49d2777035",
        "ctime": "2018-02-28T11:21:27.644Z",
        "mtime": "2018-02-28T11:21:27.636Z",
        "size": 175
      },
      {
        "file": ".git/objects/b6/f81dee4bed2f5fd3b81f946f95fcdb55d3f4e5",
        "ctime": "2018-02-28T09:47:08.652Z",
        "mtime": "2018-02-28T09:47:08.000Z",
        "size": 242
      },
      {
        "file": ".git/objects/b8/c9b7c7d16bbb810ee1f498a0d670494b40bbd6",
        "ctime": "2018-02-28T12:50:58.327Z",
        "mtime": "2018-02-28T12:50:58.000Z",
        "size": 218
      },
      {
        "file": ".git/objects/bc/401ebe46dde7e7a3d1082537b9d6e094f53de5",
        "ctime": "2018-02-28T12:15:24.218Z",
        "mtime": "2018-02-28T12:15:24.212Z",
        "size": 212
      },
      {
        "file": ".git/objects/c0/0c2aea8282b13bcb718cc5ea7166a6e85bf85a",
        "ctime": "2018-02-28T12:51:13.773Z",
        "mtime": "2018-02-28T12:51:13.764Z",
        "size": 187
      },
      {
        "file": ".git/objects/c0/bd01cb72c8902326e0a81ae8e098f94e14ec2b",
        "ctime": "2018-02-28T11:51:19.413Z",
        "mtime": "2018-02-28T11:51:19.000Z",
        "size": 99
      },
      {
        "file": ".git/objects/c3/bdc2ff5841651642588fe29686d31df1cdcd3e",
        "ctime": "2018-02-28T12:15:24.233Z",
        "mtime": "2018-02-28T12:15:24.227Z",
        "size": 185
      },
      {
        "file": ".git/objects/c5/5cfba202f2c61e8a536944d86504931c38c284",
        "ctime": "2018-02-28T11:21:27.548Z",
        "mtime": "2018-02-28T11:21:27.000Z",
        "size": 7803
      },
      {
        "file": ".git/objects/c9/8c1d0eea8a147a8b6bd61445f70b81292dbc35",
        "ctime": "2018-02-28T12:51:13.725Z",
        "mtime": "2018-02-28T12:51:13.000Z",
        "size": 105
      },
      {
        "file": ".git/objects/d2/54abb1388d76bb2031cc91bccda6bedeb0f318",
        "ctime": "2018-02-28T11:21:27.524Z",
        "mtime": "2018-02-28T11:21:27.000Z",
        "size": 6174
      },
      {
        "file": ".git/objects/d7/48e73a3308dcbbd7df4c1eaa94915d2e91bfe1",
        "ctime": "2018-02-28T12:15:24.266Z",
        "mtime": "2018-02-28T12:15:24.000Z",
        "size": 218
      },
      {
        "file": ".git/objects/d7/bf7cbf916a919854e5fd5c273a998f0d0726b2",
        "ctime": "2018-02-28T11:51:19.421Z",
        "mtime": "2018-02-28T11:51:19.000Z",
        "size": 217
      },
      {
        "file": ".git/objects/e8/09dc402faf4d6b3f4bd8440f70fa008bf33b6a",
        "ctime": "2018-02-28T12:50:58.358Z",
        "mtime": "2018-02-28T12:50:58.000Z",
        "size": 151
      },
      {
        "file": ".git/objects/ec/1d4678ab45bd04835927f9cf3da5085e1a29b9",
        "ctime": "2018-02-28T11:51:19.435Z",
        "mtime": "2018-02-28T11:51:19.000Z",
        "size": 185
      },
      {
        "file": ".git/objects/f3/eb8f3399c4c4db4b6f7120fba4c1a7e37c9485",
        "ctime": "2018-02-28T11:21:27.555Z",
        "mtime": "2018-02-28T11:21:27.000Z",
        "size": 1406
      },
      {
        "file": ".git/objects/fd/5569f06ba276e785c460e8ced700449bc3a36b",
        "ctime": "2018-02-28T09:47:08.682Z",
        "mtime": "2018-02-28T09:47:08.676Z",
        "size": 179
      },
      {
        "file": ".git/objects/fe/5730c500ae1dc77551520357bbb533cebd31fc",
        "ctime": "2018-02-28T12:50:58.389Z",
        "mtime": "2018-02-28T12:50:58.000Z",
        "size": 184
      },
      {
        "file": "public/js/writeCalendar-dist.js",
        "ctime": "2018-03-02T11:08:26.476Z",
        "mtime": "2018-03-02T11:08:26.476Z",
        "size": 1110
      },
      {
        "file": "dev/js/writeCalendar.js",
        "ctime": "2018-03-02T11:08:26.244Z",
        "mtime": "2018-03-02T11:08:26.220Z",
        "size": 1869
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}