/*Colores*/
/*Fuentes*/
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
/*Anchos*/
body {
  margin: 0; }

h1 {
  font-size: 1.5em;
  text-align: center; }

a {
  color: #83AF9B;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold; }
  a:hover {
    text-decoration: underline; }

.top-bar {
  height: 40px;
  background: #ca1498; }
  @media (min-width: 768px) {
    .top-bar {
      display: none; } }

.icon-menu {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer; }
  .icon-menu__bar {
    position: relative;
    width: 30px;
    height: 3px;
    border-radius: 1.5px;
    background: #C8C8A9; }
    .icon-menu__bar:after, .icon-menu__bar:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 3px;
      border-radius: 1.5px;
      left: 0;
      background: #C8C8A9; }
    .icon-menu__bar:after {
      top: .5em; }
    .icon-menu__bar:before {
      top: -.5em; }
    @media (min-width: 768px) {
      .icon-menu__bar {
        display: none; } }

.main-menu {
  position: absolute;
  list-style: none;
  background: #ca1498;
  margin: 0;
  padding: .5em;
  left: -100%;
  -webkit-transition: left .5s;
  -o-transition: left .5s;
  transition: left .5s;
  text-transform: capitalize; }
  .main-menu__item {
    padding: .8em 0; }
  .main-menu--show {
    left: 0; }
  @media (min-width: 768px) {
    .main-menu {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      left: 0;
      margin-bottom: .5em; } }

.project-select {
  width: 85%;
  margin: 1em auto; }
  .project-select__item {
    cursor: pointer;
    border-radius: .2em;
    padding: .5em;
    background: #aaa; }
  @media (min-width: 768px) {
    .project-select {
      display: none; } }

.data {
  width: 100%; }
  .data__item {
    margin: 2em 0;
    padding: 0; }
  .data__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    background: #ccc; }
  .data__icon {
    width: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s; }
    .data__icon:after {
      content: '\25BC';
      font-size: 1.5em;
      -ms-flex-item-align: center;
      align-self: center; }
    .data__icon--rotate {
      -webkit-transform: rotateX(180deg);
      transform: rotateX(180deg); }
  .data__title {
    font-size: 1.1em;
    margin-left: 1em;
    padding: .3em; }
  .data__info {
    height: 0;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: #ccc; }
    .data__info--show {
      height: 150px; }
  .data__text {
    padding: .5em 1em; }

.dataTable {
  display: none; }
  @media (min-width: 1080px) {
    .dataTable {
      display: block; } }
  .dataTable__header, .dataTable__data {
    display: grid;
    grid-template-columns: 100px 300px 200px 100px 1fr;
    grid-template-rows: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
  .dataTable__header {
    background: #83AF9B;
    padding: 1em 0; }
  .dataTable__data:nth-child(even) {
    background: lightgray; }
  .dataTable__data:nth-child(odd) {
    background: whitesmoke; }
  .dataTable__text {
    color: #282D31;
    font-weight: bold; }
  .dataTable__graphic {
    display: grid; }

.graphic {
  text-align: left; }

.months {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  overflow: auto; }

.month {
  text-align: center;
  display: table;
  font-size: .7em; }

.graphic {
  margin: .2em 0;
  background: rgba(220, 20, 60, 0.8);
  border-radius: 5px;
  /*width: Se asigna desde js*/
  min-height: 10px;
  position: relative;
  left: 0;
  top: 0; }

/*
.calendar{
  display: grid;
  width: 80%;
  overflow: auto;

  &__months{
    background: lightblue;
    display: flex;
    width: 4700px;
  }
}*/
